
*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body{
    height: 100vh;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}
.header_contact{
    margin-top: 0.8rem;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4.5rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(141, 0, 141);
    text-decoration: none;
    gap: 0.2rem;
    
   

}
.logo_icon{
    height: 2.875rem;
    width: 1.938rem;
    border-radius: 50%;
}
.logo_text{
    font-size: 4.5rem;
    margin-left: 0.8rem;
}
.link{
    display: flex;
    gap: 1.9rem;
    color: rgb(54, 14, 74);
    font-size: 1.3rem;
    font-weight: 600;

}

.button{
    border: none;
    border-radius: 0.375rem;
    background-color: blue;
    color: white;
    transition: all 0.1s;
    padding: 0.8rem;
    font-size: 1rem;
    transform: all 0.1s;
    font:bolder;
}
.button:hover{
    background-color:rgba(0, 0, 92, 0.897);
}
.mainbox{
    margin-top: 6rem;
    margin-left: 6rem;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.leftbox{
    text-align: center;
    animation: slideFormlef 2s ease forwards;
    opacity: 0;
}

@keyframes slideFormlef {
    0%{
        opacity: 0;
        transform: translateX(-100);

    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.paragraph1{
    font-size: 1.8rem;
    /* margin-left: 350px; */
    font-weight: 500;
    color: rgb(0, 1, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.heading{
    font-size: 4rem;
    color: black;
    gap: 0.5rem;
    padding: 1.1rem;
}
.paragraph2{
    margin-left: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
.buttongroup{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;

}
.start{

    border: none;
    border-radius: 0.375rem;
    background-color:darkmagenta;
    color: white;
    transition: all 0.1s;
    padding: 0.8rem;
    font-size: 1rem;
    transform: all 0.1s;
    font:bolder;
    font-size: 1.6rem;
}
.start:hover{
    background-color:rgba(0, 0, 92, 0.897);
}
.tour{

    border: none;
    border-radius: 0.375rem;
    background-color: rgb(37, 1, 1);
    color: white;
    transition: all 0.1s;
    padding: 0.8rem;
    font-size: 1rem;
    transform: all 0.1s;
    font:bolder;
    font-size: 1.6rem;
}
.tour:hover{
    background-color:rgba(0, 0, 92, 0.897);
}
.rightbox{
    box-shadow: 0px 4px 8px rgb(78, 1, 1);
    

}
.imgcontainer{
    overflow: hidden;
}
.imgsection{
    height: 550px;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
}
.companycontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;

}
.companygrid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    gap: 3rem;
    padding: 1.5rem;
    background-color: gray;
    border: none;
    border-radius: 4px;
    width: 800px;
    height: 3rem;

}
.heading1{
    font-size:3rem;
    margin-bottom: 2rem;
}
.companylogo{
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    width: 10px;
    height: 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: gray;
}
.logo_text{
    font-size: 2rem;
}
.logo{
    width: 3rem;
    height: 3rem;
}
.feature-container{
    width: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    text-align: center;
    width: 800px;
    margin-left: 30%;
}
.maindiscription{
    width: 900px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
}
.headqw{
    font-size: 2rem;
    margin-bottom:2rem;
}
.feature-grid{

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
.logo-container{
    height: fit-content;
    width: fit-content;
}
.featurecard{
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem ;
    width: 28rem;
    
}
.feature-title{
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 0.6rem;
    font-size: 1.5rem;
}
.discription{
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
}
.cardlogo{
    border-radius: 20px;
    margin-top:2rem;
    height: 3rem;
    width: 3rem;
}

.featurecard:nth-child(1){
    margin-top: 1rem;
    background-image: linear-gradient(to right, #380074 0%, #2575fc 100%);
}
.featurecard:nth-child(2){
    margin-top: 1rem;
    background-image: linear-gradient(to top, #024d2c 0%, #3cba92 100%);
    margin-left: 1.5rem;
}
.featurecard:nth-child(3){
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.featurecard:nth-child(4){
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    margin-left: 1.5rem;
}
.featurecard:nth-child(5){
    background-image: linear-gradient(to top, #065f39 0%, #3cba92 100%);
}
.featurecard:nth-child(6){
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    margin-left: 1.5rem;
}
.icon-container{
    size: 50%;

}

..testimonial-container{
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;


}
.testimonial-content{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 8rem;
    font-size: 1.6rem;

    margin-bottom: 0.6rem;
 
}
.testimonial-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);


}
.testimonial-card{
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid black 2px;
    margin: 0 auto;
    border-radius: 1rem;
    width: 330px;
    height: 200px;
    box-shadow: 0 2px 4px rgb(69, 64, 64);
    transition: transform 0.3s ease,box-shadow 0.3s ease;

}
.testimonial-card:hover{
   transform: scale(1.06);
   box-shadow: 0 4px 8px rgba(0,0,0,2);
   border: 1px solid blue;
}
.avatar{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;

}
.testimonial-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69, 60, 35);
    font-size: 0.945rem;
}
.info{
    margin-top: 0.3rem;
    color: darkblue;
    font-weight: 9000;
}
.newslatter-container{
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    padding: 2rem;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
    height: 40vh;


}
.newslatter-content{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    height: 100%;
    border-radius: 2rem;
    width: 120%;
    box-shadow: 5px 7px 7px;
    

}

.leftpart{
width: 50%;
}
.leftpart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
    box-shadow: 3px 5px 7px;
}
.rightpart{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    

}
.news-title{
    font-size: 3rem;
    color: rgb(23, 23, 175);
}
.news-discription{
    color: black;
    font-size: 1.3rem;
}
.news-email{
    width: 12rem;
    height: 2rem;
    box-shadow: 0 4px 8px rgb(92, 75, 75);
}
.news-sendbutton{
    height: 2.5rem;
    width: 4.5rem;
    background-color: blue;
    color: white;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;

}
.news-policy{
    font-size: 1.5rem;
}
.qwe{
    color: rgb(23, 23, 234);
}
.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}